$break-large: 900px;

.left-navbar {
  width: 15%;
  padding: 1rem;
  margin-left: 2.5vw;
  position: fixed;

  @media screen and (max-width: $break-large) {
    display: none;
  }
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0;

  .online {
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.5rem;
    border-radius: 100%;
    background-color: #CDDFD8;
    // animation: blink 1.5s infinite;
  }
}

.divider {
  background-color: #333;
  height: 1px;
  width: 30%;
  margin: 10px 0;
}

@keyframes blink {
  0% {
    opacity: 0.5
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0.5
  }
}